body {
  background-color: #111; }

.circular-progress_1 {
  height: 12rem;
  width: 12rem;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(144deg);
      -ms-transform: rotate(144deg);
          transform: rotate(144deg);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, rgba(255, 255, 0, 0.2)));
  background: -webkit-linear-gradient(bottom, yellow 50%, rgba(255, 255, 0, 0.2) 50%);
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, 0.2) 50%); }
  .circular-progress_1:before, .circular-progress_1:after {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: yellow; }
  .circular-progress_1:before {
    content: "HTML5";
    background: #111 content-box;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: .5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2rem;
    line-height: 8rem;
    -webkit-transform: rotate(-144deg);
        -ms-transform: rotate(-144deg);
            transform: rotate(-144deg); }
  .circular-progress_1:after {
    content: "80%";
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
    background: -webkit-linear-gradient(transparent 50%, #111 50%);
    background: linear-gradient(transparent 50%, #111 50%);
    -webkit-transform: scale(1.1) rotate(-144deg);
        -ms-transform: scale(1.1) rotate(-144deg);
            transform: scale(1.1) rotate(-144deg);
    line-height: 13rem; }

.circular-progress_2 {
  height: 12rem;
  width: 12rem;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(72deg);
      -ms-transform: rotate(72deg);
          transform: rotate(72deg);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, green), color-stop(50%, rgba(0, 128, 0, 0.2)));
  background: -webkit-linear-gradient(bottom, green 50%, rgba(0, 128, 0, 0.2) 50%);
  background: linear-gradient(0deg, green 50%, rgba(0, 128, 0, 0.2) 50%); }
  .circular-progress_2:before, .circular-progress_2:after {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: green; }
  .circular-progress_2:before {
    content: "SCSS";
    background: #111 content-box;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: .5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2rem;
    line-height: 8rem;
    -webkit-transform: rotate(-72deg);
        -ms-transform: rotate(-72deg);
            transform: rotate(-72deg); }
  .circular-progress_2:after {
    content: "40%";
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
    background: -webkit-linear-gradient(transparent 50%, #111 50%);
    background: linear-gradient(transparent 50%, #111 50%);
    -webkit-transform: scale(1.1) rotate(-72deg);
        -ms-transform: scale(1.1) rotate(-72deg);
            transform: scale(1.1) rotate(-72deg);
    line-height: 13rem; }

.circular-progress_3 {
  height: 12rem;
  width: 12rem;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, orange), color-stop(50%, rgba(255, 165, 0, 0.2)));
  background: -webkit-linear-gradient(bottom, orange 50%, rgba(255, 165, 0, 0.2) 50%);
  background: linear-gradient(0deg, orange 50%, rgba(255, 165, 0, 0.2) 50%); }
  .circular-progress_3:before, .circular-progress_3:after {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: orange; }
  .circular-progress_3:before {
    content: "javascript";
    background: #111 content-box;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: .5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2rem;
    line-height: 8rem;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .circular-progress_3:after {
    content: "75%";
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #111));
    background: -webkit-linear-gradient(transparent 50%, #111 50%);
    background: linear-gradient(transparent 50%, #111 50%);
    -webkit-transform: scale(1.1) rotate(-135deg);
        -ms-transform: scale(1.1) rotate(-135deg);
            transform: scale(1.1) rotate(-135deg);
    line-height: 13rem; }
